# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.properties

# Eclipse (核心排除)
.project
.classpath
.settings/
.metadata/
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# STS (Spring Tool Suite 相關)
.apt_generated
.factorypath
.springBeans
.sts4-cache

# IntelliJ & VS Code (預防隊友偷用別的編輯器)
.idea/
*.iws
*.iml
*.ipr
out/
.vscode/

# 系統檔案
HELP.md

# API Key 設定檔
src/main/resources/application-secrets.properties

# 忽略所有副檔名為 .log 的檔案
*.log

# 忽略 logs 這個資料夾
logs/

# === Local Database & Docker Data (自訂排除) ===
mysql_data/
init.sql

docker-compose.yml